html {
	scroll-behavior: smooth;
}

header{
	width: 100%;
	margin: 0 auto;
	background-image: url(images/header.png);
	/* border: 1px solid rgb(4, 1, 1); */
	height: 78px;
	box-shadow: 0px 2px 15px 0px;
	display: flex;
	align-items: center;
	position: sticky;
	top: 0;
}

main{
	display: flex;
}

.div_header{
	width: 90%;
	margin: 0 auto;
	height: 78px;
	display: flex;
	justify-content: space-between;
	align-items: center;
	top: 0;
}

body{
	margin: 0;
}

.page{
	background-image: url(images/Background.jpeg);
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
	height: 1700px;
	width: 100%;
}

.logo_div{
	/* border: solid black 1px; */
	display: flex;
	width:11%;
	height: 100%;
	justify-content: space-between;
	align-items: center;
}

.logo_div :active{
	transform: translateY(4px);
}

.logo_image{
	display: flex;
	transition: all 1s ease-in-out;
}

.logo_name{
	display: flex;
	color: rgb(255,255,255);
	font-size: 48px;
	font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.nav_btn{
	display: flex;
	align-items: center;
	justify-content: center;
	/* border: 1px solid white; */
	height: 78px;
	width: 410px;
	
}

.nav_btn:hover{
	box-shadow: 5px 2px 22px -8px rgba(0,0,0,1), -5px 2px 22px -5px rgba(0,0,0,1);
}

.div_header a {
	text-decoration: none;
}

.nav_btn span{
	color: rgb(255,255,255);
	display: flex;
	font-family: Arial, Helvetica, sans-serif;
	font-weight: bold;
	font-size: 24px;
	text-decoration: none;
}

.btn_write{
	display: flex;
	background-color: rgb(252, 193, 105);
	width: 243px;
	height: 57px;
	border-radius: 30px;
}

.btn_write span{
	font-family: Arial, Helvetica, sans-serif;
	letter-spacing: 3px;
	font-size: 32px;
	margin: auto;
	color: white;
}

.screen{
	display: flex;
	height: 1600px;
	flex-wrap: wrap;
    justify-content: space-around;
    align-items: flex-start;
    align-content: stretch;
}

.slogan_div{
	width: 35%;
	display: flex;
	flex-direction: column;
}

.slogan_div a{
	text-decoration: none;
}

.slogan{
	margin: 0;
	color: #E9E3D9;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 84px;
	font-weight: bold;
	letter-spacing: 6px;
	display: flex;
}

.pod_slogan{
	letter-spacing: 2px;
	margin-top: 0;
	width: 100%;
	display: flex;
	font-family: Arial, Helvetica, sans-serif;
	color:#E9E3D9;
	font-size: 32px;
}

.main_content{
	margin-top: 4%;
	display: flex;
	width: 87%;
	flex-direction: column;
}

.main_content_2 a{
	text-decoration: none;
}

.main_content_2{
	margin-top: 32%;
	display: flex;
	width: 87%;
	flex-direction: row;
    justify-content: space-around;
    align-items: center;
}

.main_content_text{
	width: 100%;
	display: flex;
	flex-direction: column;
}

.offer{
	margin-top: 0;
	margin-bottom: 2%;
	width: 80%;
	display: flex;
	color: #5A4040;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 50px;
}

.pod_offer{
	display: flex;
	color: #5A4040;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 40px;
	margin-bottom: 0;
}

.offer_content{
	font-family: Arial, Helvetica, sans-serif;
	display: flex;
	font-size: 24px;
	color:black;
	width: 80%;
}

.img_style{
	display: flex;
}

.page_2{
	background-image: url(images/background_page.png);
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
	height: 2040px;
	width: 100%;
	padding: 100px;
}

.about_us_div{
	width: 100%;
}

.about_us{
	display: flex;
	flex-direction: column;
    align-items: center;
    justify-content: center;
	width: 45%;
	margin-left: -15%;
	height: 100px;
	background-color: #154059;
	border-radius: 0px 20px 20px 0px;
}

.about_us h1{
	display: flex;
	margin-left: 25%;
	font-size: 64px;
	font-family: Arial, Helvetica, sans-serif;
	color: #E9E3D9;
}

.page_3{
	background-image: url(images/background_page.png);
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
	height: 2040px;
	width: 100%;
}
.page_4{
	background-image: url(images/background_page.png);
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
	height: 2040px;
	width: 100%;
}
.page_5{
	background-image: url(images/background_page.png);
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
	height: 2040px;
	width: 100%;
}