
body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header{
    /* padding-left: 100px; */
    padding-left: 6.9%;
    /* padding-right: 100px; */
    padding-right: 6.9%;
}

.wrapper{
    /* padding-left: 100px; */
    padding-left: 6.9%;
    /* padding-top: 60px; */
    padding-top: 4.1667%;
    /* padding-bottom: 60px; */
    padding-bottom: 4.166%;
    /* padding-right: 100px; */
    padding-right: 6.9%;
    height: 1024px;
    width: 75%;
    /* width: 1440px; */
    margin: auto;
}

.navigation{
    background-color: rgb(228, 228, 228);
    width: 35.1%;
    height: 35px;
    margin-bottom: 75px;
    margin-left: 400px;
    padding-top: 10px;
    padding-left: 40px;
}

.logo{
    margin: 0;
    width: 300px;
}

.nav_text{
    margin-right: 54px;
    width: 30.63%;
    height: 35px;
    left: 683px;
    top: 110px;
    font-style: normal;
    font-weight: 700;
    font-size: 1.051vw;
    line-height: 24px;
}

.main_title{
    margin-left: 13.888888889%;
    margin-bottom: -50px;
    text-align: center;
    font-family:fantasy;
    font-size: 1.761vw;
}

.header_text{
    width: 83%;
    height: 55px;
    margin: auto;
    margin-top: 20px;
    padding-left: 20px;
    background: #D9D9D9;
    font-style: normal;
    font-weight: 400;
    font-size: 1.051vw;
    line-height: 24px;
    color: #000000;
}

h1{
    height: 39px;
    font-style: normal;
    font-weight: 700;
    font-size: 1.682vw;
    line-height: 35px;
    color: #000000;
    margin: 0;
}

.main_article{
    text-align: center;
    margin:auto;
    margin-top: 20px;
    /* width: 400px; */
    width: 27.7777%;
    background: #D9D9D9;
}

.main_div{
    padding-left: 20px;
    width: 88.3%;
    margin: auto;
    overflow: hidden;
}

.main_div h2{
    margin: 0;
}

.main_text_box{
    float: left;
    background: #D9D9D9;
    width: 31.9442%;
    height: 255px;
    margin-right: 1.39%;
    margin-top: 1.39%;
}
.main_text_box h2{
    margin:20px;
    font-family:Arial, Helvetica, sans-serif;
    font-size: 1.419vw;
}
.main_text_box p{
    font-size: 1.051vw;
    margin: 20px;
}
.main_section p{
    margin: 0;
}
footer span{
    font-size: 1.314vw;
    margin-left: 255px;
}

footer{
    margin: auto;
    width: 87.2%;
    margin-top: 20px;
    background-color: #D9D9D9;
}
.images{
    text-align: center;
    width:100%;
    margin-top: 30px;
    overflow:hidden;
}

.image{
    width: 12.583333%;
    height: 6vw;
    left: 8.2%;
}

@media (min-width: 701px) and (max-width: 1080px){
    .wrapper{
        width: 90%;
        height: 1750px;
    }
    .main_title{
        font-size: 2.761vw;
        margin-left:53.194444444444444444444444444444%;
    }
    .nav_text{
        font-size: 2.151vw;
    }
    .header_text{
        width:87.16%;
        left:14.5138%;
        font-size: 2.051vw;
        margin-top:-20px;
    }
    .main_text_box p{
        font-size: 1.946vw;
    }
    .main_text_box h2{
        font-size: 1.946vw;
    }
    .main_text_box{
        float: left;
        width:40.769230769230769230769230769231%;
    }
    .images{
        width:83%;
        text-align: center;
        overflow:hidden;

    }
    
    .image{
        width: 40.583333%;
        height: 20vw;
        padding:10px;
    }

    footer{
        top:1600px;
    }
}
@media (min-width:375px) and (max-width:700px) {
    .wrapper{
        width:100%;
        height:2300px;
    }

    .main_title{
    font-size: 3.761vw;
    margin-left:53.194444444444444444444444444444%;
    }

    .navigation{
        width: 65%;
        margin-left:15.4%;
        margin-top:6.875% ;
    }

    .nav_text{
        font-size: 2.551vw;
    }

    .logo{
        margin-top:5.1388888888888888888888888888889%;
        margin-left:6.666%;
        width:23.194%;
    }

    .header_text{
        width:77.16%;
        left:14.5138%;
        font-size: 3.051vw;
        margin-top:-50px;
    }

    .main_article{
        left:25.55%;
    }

    .main_div{
        height: 1400px;
        width:85.6%;
        left:6.66%;
        top: 360px;
        margin: auto;
        overflow:hidden;
        padding-left: 20px;
    }

    .main_text_box{
        float: none;
        width:90.769230769230769230769230769231%;
        height: 200px;
    }

    .main_text_box h2{
    font-size: 3.546vw;
    }

    .main_text_box p{
        font-size: 3.946vw;
    }

    .images{
        width:93%;
        text-align: center;
        margin: auto;
        overflow:hidden;
    }
    
    .image{
        width: 38.583333%;
        height: 20vw;
        padding:10px;
    }

    footer{
        top:2100px;
    }

    .info{
        font-size: 3.7vw;
        height: 34px;
        width:12.5%;
        left:45.178571428571428571428571428571%;
        top: 33px;
    }
}