.stranq {
    border: 10px outset green
}
table {
    margin: 100px auto;
}
.zagolovok {

}
h1 {
    margin: 0 auto;
    width: 250px;
    border: 10px solid green;
}
/* img {
    border: 10px outset brown
} */