body {
    text-shadow: 1px 1px 10px rgb(0, 0, 0);
    background-color: rgb(255, 145, 135);
}



h1 {
    font-family: Arial;
    font-size: 50px;
    font-weight: 900;
    text-align: justify;
    text-shadow: 5px 5px 10px rgb(72, 255, 0);
    background-color: blue;
    border-top: 10px solid gray;
    border-bottom: 10px solid black;
}
h2 {
    font-family: Impact;
    color: rgb(255, 145, 135);
    font-size: 70px;
    border: 70px solid blanchedalmond;
    text-align: center;
    padding: 100px
}
p {
    font-family: monospace;
    color: rgb(255, 145, 135);
    font-size: 20px;
    border: 10px dotted yellow;
    border-radius: 30px;
    border-top: 1px;
    border-bottom: 1px;
    padding: 30px;
    margin: 100px;
}
img {
    height: 500px;
    width: 500px;
}

.kartinka {
    width: 550px;
    text-align: center;
    padding: 50px 50px 10px 50px;
    margin: 0 auto;
}
/* Ыыыыыы */ 

