header{
    float: left;
    width: 1380px;
    height: 180px;
    border: 1px solid blue;
}
main{
    float:left;
    margin: auto;
    width: 875px;
    height: 600px;
    border: 1px solid green;
}
.aside_right{
    float: right;
    width: 315px;
    height: 600px;
    border: 1px solid blue;
}
.aside_left{
    float: left;
    border: 1px solid blue;
    width: 182px;
    height: 600px;
}
.wrapper{
    margin: 0 auto;
    width: 1380px;
    border: 1px solid red;
    height: 900px;
}
footer{
    width: 1380px;
    height:90px;
    border: 1px solid rgb(25, 108, 3);
    float: left
}
.main_section_up{
    width: 875px;
    height: 60px;
    border: 1px solid red;
    float: left;
}
.main_section_down{
    width: 875px;
    height: 130px;
    border: 1px solid red;
    float:left
}
article{
    width: 415px;
    height: 180px;
    border: 1px solid green;
    float: left;
    margin: 10px;
}
.main_text{
    text-align: center;
    color: rgb(0, 0, 112);
    font-size: 29px;
    margin: 0 auto;
}
.div_text_top{
    border: 1px solid black;
    width: 700px;
    height: 180px;
    margin: 0 auto
}
.div_tittle{
    font-family: Arial, Helvetica, sans-serif;
    margin-top: 65px;
    margin-bottom: 0px;
    text-align: center;
    font-size: 45px;
    text-transform: uppercase;
    color:red;
    font-weight: lighter;
    text-shadow:-0   -2px 0   #2A0072,
    0   -2px 0   #2A0072,
   -0    2px 0   #2A0072,
    0    2px 0   #2A0072,
   -2px -0   0   #2A0072,
    2px -0   0   #2A0072,
   -2px  0   0   #2A0072,
    2px  0   0   #2A0072,
   -1px -2px 0   #2A0072,
    1px -2px 0   #2A0072,
   -1px  2px 0   #2A0072,
    1px  2px 0   #2A0072,
   -2px -1px 0   #2A0072,
    2px -1px 0   #2A0072,
   -2px  1px 0   #2A0072,
    2px  1px 0   #2A0072,
   -2px -2px 0   #2A0072,
    2px -2px 0   #2A0072,
   -2px  2px 0   #2A0072,
    2px  2px 0   #2A0072,
   -2px -2px 0   #2A0072,
    2px -2px 0   #2A0072,
   -2px  2px 0   #2A0072,
    2px  2px 0   #2A0072,
    4px  4px 3px   rgb(255, 255, 255),
    5px  5px 3px   rgb(106, 106, 255),
    6px  6px 3px   rgb(0, 0, 179),
    7px  7px 3px   red;
}